<!DOCTYPE html>
<html>
  <head>
    <title>expense-tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>welcome to expense Tracker</h1>
    <a href="/auth/google">Login with google</a>
    <a href="/auth/github">Login with github</a>
  </body>
</html>
