body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: azure;
  text-align: center;
}

a {
  color: #00b7ff;
}
form {
  width: 200px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 1.2rem;
}
